<h1>Listing todo_lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>First value</th>
      <th>Second value</th>
      <th>Total</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= todo_list.first_value %></td>
        <td><%= todo_list.second_value %></td>
        <td><%= todo_list.total %></td>
        <td><%= todo_list.address %></td>
        <td><%= todo_list.phone_number %></td>
        <td><%= todo_list.first_name %></td>
        <td><%= todo_list.last_name %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo list', new_todo_list_path %>
