<%= form_for(@mike_hudick_sample) do |f| %>
  <% if @mike_hudick_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mike_hudick_sample.errors.count, "error") %> prohibited this mike_hudick_sample from being saved:</h2>

      <ul>
      <% @mike_hudick_sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
