<h1>Listing mike_hudick_samples</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mike_hudick_samples.each do |mike_hudick_sample| %>
      <tr>
        <td><%= mike_hudick_sample.name %></td>
        <td><%= link_to 'Show', mike_hudick_sample %></td>
        <td><%= link_to 'Edit', edit_mike_hudick_sample_path(mike_hudick_sample) %></td>
        <td><%= link_to 'Destroy', mike_hudick_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Sample', new_mike_hudick_sample_path %>
